@{
    ViewData["Title"] = "Home Page";
}

<div>
    <div class="row">
        <div class="col-md-6">
            <h2>Ajax Form Example</h2>
            <form asp-controller="Home" asp-action="SubmitForm"
                data-ajax="true"
                data-ajax-method="POST"
                data-ajax-mode="replace"
                data-ajax-loading="#img-loading"
                data-ajax-update="#content"
                data-ajax-begin="Begin"
                data-ajax-success="Success"
                data-ajax-failure="Failure"
                data-ajax-complete="Complete"
                >
                <div class="form-group">
                    <label for="firstName">First name:</label>
                    <input id="firstName" name="firstName" type="text" class="form-control" />
                </div>
                <div class="form-group">
                    <label for="lastName">Last name:</label>
                    <input id="lastName" name="lastName" type="text" class="form-control" />
                </div>
                <input type="submit" name="Submit" class="btn btn-primary" />
            </form>
        </div>
        <div class="col-md-6">
            <h2>Submit View</h2>
            <div id="content">
                <h4>Here view will be updated with new information.</h4>
            </div>
            <img id="img-loading" style="display:none" src="~/images/google-waiting.gif" />
        </div>
    </div>
</div>
<script>
    function Begin(xhr) {
        console.log(xhr);
    }

    function Success(data, status, xhr) {
        console.log(data);
        console.log(status);
        console.log(xhr);
        $("#firstName").val("");
        $("#lastName").val("");
    }

    function Failure(error, status, xhr) {
        console.log(error);
        console.log(status);
        console.log(xhr);
        alert("Form failed");
    }

    function Complete(xhr, status) {
        console.log(status);
        console.log(xhr);
    }
</script>